
/* administrative layout css */

#admin-layout {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox 28 and earlier*/
	float: left;
	width: 70%;
	height: 1000px;
}
.admin-region {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox 28 and earlier*/
	float: left;
	padding: .5em;
	min-height: 50px;
	outline: 1px solid #ddd;
}
#admin-layout .admin-region {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox 28 and earlier*/
	background: #f8f7f5;
}
#admin-layout .admin-region {
	margin: .5em 0 0;
}
#admin-layout .admin-region:last-child,
#admin-layout .admin-region:first-child {
}
.admin-region h1 {
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 .5em;
}
.region-container {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox 28 and earlier*/
	float: left;
	outline-left: 1px solid #ddd;
	padding: 0 .5em .5em;
}
.region-container-container {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox 28 and earlier*/
	float: left;
	outline: 1px solid #ddd;
	margin: .5em 0 0;
}
.admin-block {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox 28 and earlier*/
	float: left;
	display: inline-block;
	min-height: 80px;
	background: #EEECE6;
	margin: 0;
	padding: .5em;
	outline: 1px solid #ccc;
}
.admin-block h2 {
	font-size: 11px;
	font-weight: normal;
	margin: 0;
}
	


/* layout thumbnail css */

#admin-thumb {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox 28 and earlier*/
	float: left;
	width: 100px;
	height: 140px;
	margin-right: 1em;
	overflow: hidden;
}
#admin-thumb .admin-region {
	background: #777;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	padding: 0;
}
#admin-thumb .admin-region h1 {
	display: none;
}





/* prototype css */

#container {
	width: 100%;
	margin: 30px;
}
body {
	font-size: 14px;
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	color: #333;
}
#header {
	width: 100%;
}
#header_2 {
	width: 100%;
}
#footer {
	width: 100%;
}
#content {
	width: 100%;
}
#content_2 {
	width: 100%;
}
#content_3 {
	width: 100%;
}

#header .admin-block,
#header .admin-block  {
	width: 25%;
}
#content .admin-block,
#content_2 .admin-block,
#content_3 .admin-block {
	width: 100%;
}
#footer .admin-block {
	width: 50%;
}

/* layout heights will be calculated in PHP */

div#region-container-1 {
	width: 100%;
}
div#region-container-2 {
	width: 75%;
	height: 100%;
}
div#region-container-3 {
	width: 25%;	
}
div#region-container-2 .admin-region {
	height: 100%;
}
div#region-container-3 .admin-region {
	height: 100%;
}

/* blocks */


/* thumbnail heights will be calculated in PHP */
#admin-thumb .admin-region {
	height: 14.285%;
}

/* end prototype css */





